/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.piece {
  z-index: 3;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 62.5px;
  height: 62.5px;
  display: flex;
}