<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">PawnRush</h1>
      <!-- <h2 class="text-white-50 mx-auto mt-2 mb-5">When you see a good move, look for a better one.</h2> -->
      <h2 class="text-white-50 mx-auto mt-2 mb-5">The People's Game.</h2>
      <a href="#about" class="btn btn-primary js-scroll-trigger">Play Now</a>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Coming Soon!</h2>
        <p class="text-white-50">Every Pawn is a potential Queen.</p>
      </div>
    </div>
  </div>
</section>