.ranking-section {
  padding: 50vh 0px;
  height: 100vh;
  background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%,rgba(22,22,22,.8) 100%), url("/assets/images/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  p {
    margin-bottom: 5rem;
  }
}
